# /vendor
# /node_modules
# .env
# /storage/*
# !/storage/app/public
# /bootstrap/cache
# !/storage/framework/
# /storage/framework/views/
# /storage/framework/cache/
# /storage/framework/sessions/
# !/storage/logs/

# Vendor & Node
/vendor/
/node_modules/

# Environment
.env

# Storage
/storage/*
!/storage/app/
!/storage/app/public/
!/storage/framework/
!/storage/logs/

/storage/framework/cache/*
!/storage/framework/cache/.gitignore

/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore

/storage/framework/views/*
!/storage/framework/views/.gitignore

/storage/logs/*
!/storage/logs/.gitignore
# Ignore all ticket attachments
/storage/app/public/attachments/Ticket/*

# Bootstrap cache
/bootstrap/cache/*
!/bootstrap/cache/.gitignore