# Vendor & Node
/vendor/
/node_modules/

# Environment
.env

# Storage
/storage/*
!/storage/app/
!/storage/app/public/
!/storage/framework/
!/storage/logs/

# Ignore uploaded attachments
/storage/app/public/*
!/storage/app/public/.gitignore

/storage/app/public/attachments/*
/storage/app/public/attachments/**

# Framework cache
/storage/framework/cache/*
!/storage/framework/cache/.gitignore

# Framework sessions
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore

# Framework views (compiled Blade views)
/storage/framework/views/*
!/storage/framework/views/.gitignore

# Logs
/storage/logs/*
!/storage/logs/.gitignore

# Bootstrap cache
/bootstrap/cache/*
!/bootstrap/cache/.gitignore